<html>
    <title>Criação de Usuário</title>
    <body>
        <center>
        <h2> Entrar no Sistema </h2>
        <span>
            <form action="" method="post">
                 <span>
                   <label> E-mail: </label>
                   <br>
                   <input type="text" name="email">
                 </span>
                 <br>
                 <span>
                    <label> Senha: </label>
                    <br>
                    <input type="password" name="senha">
                </span>
                  <br><br>
                  <input type="submit" value="Entrar">
            </form>
        </span>
    </body>
</html>
