<html>
    <title>Criação de Usuário</title>
    <body>
        <center>
        <h1> Criação de uma nova conta</h1>
        <p><em>Preeencha o formulário para criação de um novo usuário.</em></p>
        <span>
            <form action="" method="post">
                 <span>
                   <label> E-Mail: </label>
                   <br>
                   <input type="text" name="email">
                 </span>
                 <br>
                <span>
                   <label> Senha: </label>
                   <br>
                   <input type="password" name="senha">
                </span>
                <br>
                <span>   
                   <label> Confirme Senha: </label>
                   <br>
                   <input type="password" name="confirm_senha">
                </span> 
                <br><br>
		       <input type="submit" value="Criar Conta">
            </form>
        </span>
        </center>
    </body>
</html>