<html>
    <title>Criando a database</title>
    <body>
        <center>
        <h1>Setup da Aplicação</h1>
        <div>Criação do Banco de Dados</div>
        <div><p><em>Para criação do banco de dados digite o token definido na configuração da aplicação.</em></p></div>
        <span>
            <form action="" method="post">
                <label> Token: </label>
                <input type="text" name="token"> <br/><br/>
		        <input type="submit">
            </form>
        </span>
        </center>
    </body>
</html>
