<html>
    <title>Criação de Usuário</title>
    <body>
        <h1><center> Login </center></h1>
        <span>
            <form action="" method="post">
                 <span>
                   <label> E-Mail: </label>
                   <input type="text" name="email">
                </span>
                <span>
                 <label> Senha: </label>
                 <input type="text" name="senha">
                </span> 
		<input type="submit">
            </form>
        </span>
    </body>
</html>